<div class="container">
  <h1 class="admin" >Hello this is admin's view</h1>
  <p class="admin_p" >here you can get all the details regarding the admin</p>
  <ul class="card" >
    <li>name</li>
    <li>age</li>
    <li>proffesion</li>
    <li>addres</li>
    <li>contact</li>
  </ul>
</div>